.profileImg{
	width: 4em;
	height: 4em;
	border-radius: 2em;
}

.guestListEntry{
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: solid;
	border-width: 2px;
}
.guestInfo{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.guestProperties{
	padding: 1em;
}

.guestName{
	display:inline-block; 
}

.guestAttributeList{
	list-style: none;
}

.horizontallyAligned{
	display: flex;
	align-items: center;
}

.smallerpadding{
	padding: 0.5em;
}
.marginright{
	margin-right: 1em;
}

.margintop{
	margin-top: 1em;
}
.hostPart{
	padding-top: 1.5em;
	padding-bottom: 2em;
}
.guestIcon{
	width: 2em;
	height: 2em;
}
.notreversed{
	flex-direction: column;
	padding-bottom: 1em;
}

.guestListArea{
	border-top: solid;
	margin-top: 1em;
}

.checkboxlabel{
	padding-right: 1em;
}
.checkoption{
	padding-top: 0.5em;
}

.copyclipboard{
	float: right;
}

.guestDelete{
	margin-right: 1em;
}

.guestMessage{
	margin-top: 1.5em;
}

input[type=checkbox] {
    display: none;
}

.checkoption input + label:before {
    background-color: #fefefe;
    border-width: 2px;
    border-style: solid;
    border-color: #557037;
    height: 1em;
    width: 1em;
    border-radius: 50%;
    content: "";
    margin-top: -0.2em;
    margin-right: 0.4em;
    display: inline-block;
    vertical-align: middle;
}
input[type=checkbox]:checked + label:before {
    background-color: #789e4f;
}
input[type=checkbox]:checked:hover + label:before {
    background-color: #789e4f;
}
input[type=checkbox]:hover + label:before {
    background-color: #dedede;
}