.profileImg{
	width: 4em;
	height: 4em;
	border-radius: 2em;
}

.guestListEntry{
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: solid;
	border-width: 2px;
}
.guestInfo{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.guestProperties{
	padding: 1em;
}

.guestName{
	display:inline-block; 
}

.guestAttributeList{
	list-style: none;
}

.horizontallyAligned{
	display: flex;
	align-items: center;
}

.smallerpadding{
	padding: 0.5em;
}
.marginright{
	margin-right: 1em;
}

.margintop{
	margin-top: 1em;
}
.hostPartMain{
	padding-bottom: 2em;
}
.hostPart{
	padding-top: 1.5em;
	padding-bottom: 1em;
}
.guestIcon{
	width: 2em;
	height: 2em;
}
.notreversed{
	flex-direction: column;
	padding-bottom: 1em;
}

.guestListArea{
	border-top: solid;
	margin-top: 1em;
}

.checkboxlabel{
	padding-right: 1em;
}
.checkoption{
	padding-top: 0.5em;
}

.copyclipboard{
	float: right;
}

.guestDelete{
	margin-right: 1em;
}

.guestMessage{
	margin-top: 1.5em;
}
.editGuest{
	margin-top: 2em;
}
.editViewForGuests{
	margin-top: 2em;
}