* {
    font-size: 1em;
    padding: 0;
    margin: 0;
    background-color: #fefefe;
    font-family: 'Roboto Slab';
    color: #789e4f;
}


.pagecontent{
    padding: 1em;
    padding-bottom: 0em;
}

.heading{
    font-size: 2em;
}

.subheading{
    font-size: 1.5em;
}

.title{
    font-size: 4em;
    font-family: 'Lobster';
}

.subtitle{
    font-size: 3em;
    font-family: 'Lobster';
    padding-bottom: 0.5em;
}

.listentry{
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
    align-items: center;
    border-bottom: solid;
    border-width: 1px;
    text-decoration: none;
}

.listentry:hover {
    background-color: #efefef;
}

.listentry *{
    color: #557037;
}

.listentry:hover *{
    background-color: #efefef;
}


.listheading{
    font-size: 1.5em;
    overflow-wrap: break-word;
    width: 280px;
}

.rightalignedList{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-start;
}

.forwardArrow{
    height: 2em;
    width: auto;
}

.deleteX{
    height: 2em;
    width: auto;
    padding-top: 1em;
    margin-left: -0.4em;
}

.listtitle{
    border-bottom: solid;
    padding-top: 2em;
}

.LinktoCE{
    float: right;
    margin-top: 2em;
    margin-bottom: 2em;
}
.logoutWrapper{
    float: right;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.logoutWrapper div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logoutWrapper h1{
    color: #333;
}
.LinktoLogout{
    margin-top: 0.5em;
    margin-right: 0.6em;
}