.Inventory *{
    background-color: #bed09f;
    color: #557037;
    border-color: #557037;
}

.addToInventory{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.formitem{
    border-style: none;

    border-bottom: solid;
    width: 10em;
    margin-bottom: 1em;
    padding: 0.5em;
}

.formentry{
}


.inventoryentry{
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
    align-items: center;
    border-bottom: solid;
    border-width: 1px;
    text-decoration: none;
}

.inventoryentry:hover {
    background-color: #789e4f;
}
.inventoryentry:hover *{
    background-color: #789e4f;
}

.boozeStatus{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.milkbottle{
    width: 10em;
}

.boozelist{
    padding-left: 1em;
}

