/*
#############
the shit that stays the same
#############
 */

* {
    font-size: 1em;
    padding: 0;
    margin: 0;
    background-color: #fefefe;
    font-family: 'Roboto Slab';
    color: #789e4f;
}


.subtitle{
    font-size: 3em;
    font-family: 'Lobster';
    padding-bottom: 0.5em;
}


/*
#############
Styling for new event form
#############
 */


.formicon{
    height: 1.5em;
}

.eventform {
    border-style: none;
    width: 95%;
    font-size: 1.5em;
}


.formelement_theme{
    width: 100%;
    border-style: none;
    border-bottom: solid;
    border-left: solid;
    border-width: 4px;
    margin-bottom: 1em;
    padding-left: 0.5em;
    padding-bottom: 0.2em;
    padding-right: 0.5em;
}

.formelement{
    display: flex;
    border-style: none;
    border-bottom: solid;
    border-left: solid;
    border-width: 4px;
    margin-bottom: 1em;
    padding-left: 0.2em;
    padding-bottom: 0.2em;
}


.formelement *{
    border-style: none;
}

.inputfield{
    width: 100%;
    cursor: pointer;
}

textarea{
    height: 180px;
}

input[type=radio] {
    display: none;
}

input[type=radio] + label:before {
    background-color: #fefefe;
    border-width: 2px;
    border-style: solid;
    border-color: #557037;
    height: 1em;
    width: 1em;
    border-radius: 50%;
    content: "";
    margin-top: -0.2em;
    margin-right: 0.4em;
    display: inline-block;
    vertical-align: middle;
}
input[type=radio]:checked + label:before {
    background-color: #789e4f;
}
input[type=radio]:checked:hover + label:before {
    background-color: #789e4f;
}
input[type=radio]:hover + label:before {
    background-color: #dedede;
}

.theme{
    display: flex;
    padding-left: 1.5em;
}
.themecolors{
    height: 1em;
    width: 1em;
}
.p1{
    background-color: #bed09f;
}
.p2{
    background-color: #789e4f;
}
.p3{
    background-color: #e38003;
}
.p4{
    background-color: #c17a05;
}
.p5{
    background-color: #fee332;
}

.b1{
    background-color: #4BBCF4;
}
.b2{
    background-color: #61C0BF;
}
.b3{
    background-color: #BBDED6;
}
.b4{
    background-color: #FFB6B9;
}
.b5{
    background-color: #FAE3D9;
}

.t1{
    background-color: #351C4D;
}
.t2{
    background-color: #765285;
}
.t3{
    background-color: #FF7E5F;
}
.t4{
    background-color: #FEB47B;
}
.t5{
    background-color: #F5AB99;
}

.submitbutton{
    border-width: 4px;
    border-style: solid;
    border-radius: 0.5em;
    border-color: #789e4f;
    padding: 1em;
}

.submitbutton:hover{
    background-color: #789e4f;
    border-color: #fefefe;
    color: #fefefe;
    cursor: pointer;
}

.clearbutton{
    border-radius: 0.5em;
    font-size: 0.8em;
    border-color: #a4a4a4;
    color: #a4a4a4;
    border-width: 4px;
    padding: 0.5em;
    margin-bottom: 0.5em;
}

.clearbutton:hover{
    color: #c44444;
    border-color: #c44444;
    cursor: pointer;
}

.buttonsWrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.formcontent{
    display:flex;
    flex-direction: column;
    align-items: center;
}